*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: rgb(243, 240, 240);  
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    /* backgrou
    nd: linear-gradient(to right, #FDB99B, #CD8BF3); */
}
h2{
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 700;
    background-image:linear-gradient(to right, #FDB99B, #CD8BF3);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    letter-spacing: 4px;
    padding-top: 100px;

}
