*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: rgb(243, 240, 240);  
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    /* backgrou
    nd: linear-gradient(to right, #FDB99B, #CD8BF3); */
}
.logo{
    width: 100px;
    height: 100px;
    margin: 5px;
    background: url(ressources/spirit.png);
}
.logo1{
    background-position: 0 0;
}
.logo2{
    background-position: -100px 0;
}
.logo3{
    background-position: -200px 0;
}
